<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook/Google</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <input hidden class="sso_token" id="ssoToken" value="<%= ssoToken %>" />
</body>

<script type="text/javascript">
    // Sau khi đăng nhập thành công facebook/google thì chúng ta sẽ được redirect về trang này
    // Chúng ta sẽ sử dụng trang này như 1 trang trung gian để chuyển người dùng đến redirectUrl
    $(document).ready(function(){
        const ssoToken = $('#ssoToken').val().trim();
        const redirectURL = `${localStorage.getItem('clientURL')}/code?ssoToken=${ssoToken}`;
        localStorage.removeItem('clientURL');
        window.location.href = redirectURL;
    });
</script>

</html>